<div class="content-container">
  <br />
  <div>
    <p>
      To suggest features or report bugs on this website, visit
      <a [href]="github" rel="noopener noreferrer" target="_blank">
        <i class="fa fa-github"></i>&nbsp;Github
      </a>
    </p>

    <p>
      Find us on
      <a [href]="twitter" rel="noopener noreferrer" target="_blank">
        <i class="fa fa-twitter"></i>&nbsp;Twitter
      </a>
    </p>
    <hr style="width: 20vw" />
  </div>
  <br />
  <div class="form-container">
    <app-contact-form></app-contact-form>
  </div>
  <br />
  <br />
  <hr />
  <div class="bordered-box">
    <p>Registered Office</p>
    <small
      >18/30 V.O.C. Nagar Main Road,<br />
      Anna Nagar East, Chennai 600102,<br />
      Tamil Nadu, India<br />
      <i class="fa fa-phone"></i>&nbsp;+91-9080095880 &nbsp;&nbsp;
      <i class="fa fa-envelope"></i>&nbsp;
      <a
        class="e-mail"
        data-user="nohj"
        data-website="moc.liamg"
        href="mailto:contact@shuddhitrust.org"
        >con<span class="spamprotection">CHARACTER SEQUENCE</span
        >tact@shuddhi<!-- @abc.com -->trust.org</a
      >
    </small>
  </div>
  <hr />
</div>
