<div class="content-container">
  <h2>Support us</h2>
  <hr />
  <div id="support-info-container">
    <p>
      We are a small non-profit that relies entirely on contributions from the
      public. Your contributions make a lot of difference in the scale of impact
      that we are able to create.
    </p>
    <p>You can contribute in the following ways:-</p>
    <hr />
    <br />
    <div class="contribution-option-box">
      <h2>Donations</h2>
      <hr />
      <br />
      <a [href]="patreon" target="_blank" rel="noopener noreferrer"
        ><img src="assets/images/support/patreon-logo.png" height="50px" /></a
      >&nbsp;&nbsp;<a href="" (click)="copyUpiId()"
        ><img src="assets/images/support/upi-logo.png" height="50px"
      /></a>
    </div>
    <div class="contribution-option-box">
      <h2>Volunteer</h2>
      <hr />
      <br />
      <p>
        <a [href]="volunteer" target="blank" rel="noreferrer noopener"
          ><i
            style="color: #1da1f2; font-size: 3em"
            class="fa fa-hand-paper-o"
          ></i
        ></a>
      </p>
    </div>
  </div>
</div>
