<div class="content-container" style="text-align: left">
  <h2 style="text-align: center">Refund policy</h2>
  <br />
  <p>
    This Refund Policy governs how Shuddhi Trust processes any potential request
    for refunds of donations.
  </p>
  <ol>
    <li>
      Our standard policy is to not offer refunds of the donations we receive.
    </li>
    <li>
      In case you wish to receive a refund because it was made in error or if
      you wish to change the amount or if you wish to receive a refund due to
      any emergency, please <a [routerLink]="contact">contact us</a> within 72
      hrs of the transaction. We may not be able to guarantee a favourable
      decision, but we will sincerely consider your situation and arrive at a
      decision.
    </li>
    <li>
      All decisions regarding your request for refund will be unilaterally
      settled by us and at our discretion.
    </li>
  </ol>

  <h3>Changes to this refund policy</h3>
  <p>
    Shuddhi Trust has the discretion to update this refund policy at any time
    without notice. We encourage Users to frequently check this page for any
    changes to stay informed about our policy regarding refunds. You acknowledge
    and agree that it is your responsibility to review these refund policy
    periodically and become aware of modifications.
  </p>
  <h3>Your acceptance of these terms</h3>
  <p>By donating to us, you signify your acceptance of this refund policy.</p>
  <h3>Contacting us</h3>
  <p>
    If you have any questions about this refund policy, the practices of this
    site, or your dealings with this site, please&nbsp;
    <a [routerLink]="contact">contact us</a>.
  </p>
  <p>This document was last updated on October 24, 2021</p>
</div>
