<div class="content-container">
    <br>
    <div>
        <p>
            To suggest features or report bugs on this website, visit
            <a href="https://github.com/shuddhifund/shuddhifund-org" rel="noopener noreferrer" target="_blank">
                <i class="fa fa-github"></i>&nbsp;Github
            </a>
        </p>

        <p>
            Find us on
            <a href="https://twitter.com/shuddhifund" rel="noopener noreferrer" target="_blank">
                <i class="fa fa-twitter"></i>&nbsp;Twitter
            </a>
        </p>
        <hr style="width: 20vw" />
    </div>
    <br>
    <div class="form-container">
        <app-contact-form></app-contact-form>
    </div>
</div>