<div class="content-container" style="text-align: left">
  <h2 style="text-align: center">Terms & Conditions</h2>
  <br />
  <p>
    These Terms & Conditions govern all general aspects of a user's interaction
    with this website.
  </p>
  <ol>
    <li>At the moment we only receive donations from Indian nationals.</li>
    <li>
      Shuddhi Trust is a registered public charitable trust with 12A and 80G
      certification (as of Oct 2nd 2021). So your donations are eligible for 80G
      tax exemption.
    </li>
    <li>
      The information you provide while making a donation are necessary for
      legal reasons and will be kept private and not shared with any third
      parties, other than to relevant governmental authorities in the event of
      legal audits.
    </li>
    <li>
      Shuddhi Trust is a public charitable trust and all donations will be used
      for non-profit activities and a transparent report of all our incoming
      donations and expenditures are published with all details annually.
    </li>
    <li>
      <span class="link" (click)="routeTo(refund)"
        >Click here to review our Refund Policy</span
      >
    </li>
  </ol>

  <h3>Changes to these terms and conditions</h3>
  <p>
    Shuddhi Trust has the discretion to update thse terms and conditions at any
    time without notice. We encourage Users to frequently check this page for
    any changes to stay informed about our terms and conditions. You acknowledge
    and agree that it is your responsibility to review these terms and
    conditions periodically and become aware of modifications.
  </p>
  <h3>Your acceptance of these terms</h3>
  <p>
    By your continued use of the site, you signify your acceptance of these
    terms and conditions.
  </p>
  <h3>Contacting us</h3>
  <p>
    If you have any questions about these terms and conditions, the practices of
    this site, or your dealings with this site, please&nbsp;<span
      class="link"
      (click)="routeTo(contact)"
      >contact us</span
    >.
  </p>
  <p>This document was last updated on October 30, 2021</p>
</div>
