#support-info-container {
  text-align: left;
  margin: 10px 10vw;
}
.inner {
  position: relative;
  height: auto;
}
.full-height {
  height: 100%;
}

.contribution-options-container {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: stretch;
  width: 100%;
  margin: 0 auto 20px;
}
.contribution-option-box {
  padding: 10px 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: static;
  text-align: center;
  font-size: 1.2em;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  display: block;
}

.amount-badge {
  background: var(--green);
  position: absolute;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  z-index: 2;
  margin-top: -92px;
  font-weight: bold;
  font-size: 0.9em;
}

.contribution-option-box div a img {
  margin: 10px;
  position: relative;
  padding-top: 20px;
  display: inline-block;
  width: 80px;
  height: auto;
}

.amount-options {
  display: grid;
  padding: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  align-items: stretch;
  width: 100%;
  margin: 0 auto 50px;
}
@media screen and (max-width: 800px) {
  .video {
    width: 100%;
  }
  .contribution-options-container {
    grid-template-columns: 1fr;
  }
  .amount-options {
    grid-template-columns: 1fr 1fr;
  }
}
