<div class="content-container">
  <h2>Support us</h2>
  <hr />
  <div id="support-info-container">
    <p>
      We are a small non-profit that relies entirely on contributions from the
      public. Your contributions make a lot of difference in the scale of impact
      that we are able to create.
    </p>
    <p>You can contribute in the following ways:-</p>
    <hr />
    <br />
    <div class="contribution-options-container">
      <div class="contribution-option-box">
        <h2>Donate</h2>
        <hr />
        <h2>Donate Once</h2>
        <div>
          <a [href]="donation" target="blank" rel="noreferrer noopener"
            ><img
              src="assets/images/support/donate-icon.svg"
              alt="Donate to us"
          /></a>
        </div>
        <hr />
        <h2>Donate Monthly</h2>
        <div class="amount-options">
          <div>
            <a [href]="recurring250" target="blank" rel="noreferrer noopener"
              ><div class="inner">
                <div class="full-height">
                  <img
                    src="assets/images/support/donate-icon.svg"
                    alt="Donate to us"
                  />
                </div>
                <span class="amount-badge" style="margin-left: -33px"
                  >₹ 250</span
                >
              </div></a
            >
          </div>

          <div>
            <a [href]="recurring500" target="blank" rel="noreferrer noopener"
              ><div class="inner">
                <div class="full-height">
                  <img
                    src="assets/images/support/donate-icon.svg"
                    alt="Donate ₹ 500 per month"
                  />
                </div>
                <span class="amount-badge" style="margin-left: -33px"
                  >₹ 500</span
                >
              </div></a
            >
          </div>
          <div>
            <a [href]="recurring1000" target="blank" rel="noreferrer noopener">
              <div class="inner">
                <div class="full-height">
                  <img
                    src="assets/images/support/donate-icon.svg"
                    alt="Donate ₹ 1,000 per month"
                  />
                </div>
                <span class="amount-badge" style="margin-left: -42px"
                  >₹ 1,000</span
                >
              </div></a
            >
          </div>

          <div>
            <a [href]="recurring2500" target="blank" rel="noreferrer noopener"
              ><div class="inner">
                <div class="full-height">
                  <img
                    src="assets/images/support/donate-icon.svg"
                    alt="Donate ₹ 2,500 per month"
                  />
                </div>
                <span class="amount-badge" style="margin-left: -42px"
                  >₹ 2,500</span
                >
              </div></a
            >
          </div>
          <div>
            <a [href]="recurring5000" target="blank" rel="noreferrer noopener"
              ><div class="inner">
                <div class="full-height">
                  <img
                    src="assets/images/support/donate-icon.svg"
                    alt="Donate ₹ 5,000 per month"
                  />
                </div>
                <span class="amount-badge" style="margin-left: -42px"
                  >₹ 5,000</span
                >
              </div></a
            >
          </div>
          <div>
            <a [href]="recurring10000" target="blank" rel="noreferrer noopener">
              <div class="inner">
                <div class="full-height">
                  <img
                    src="assets/images/support/donate-icon.svg"
                    alt="Donate ₹ 10,000 per month"
                  />
                </div>
                <span class="amount-badge" style="margin-left: -47px"
                  >₹ 10,000</span
                >
              </div></a
            >
          </div>
        </div>
      </div>
      <div class="contribution-option-box">
        <h2>Volunteer</h2>
        <hr />
        <br />
        <div>
          <a [href]="volunteer" target="blank" rel="noreferrer noopener"
            ><img
              src="assets/images/support/volunteer-icon.svg"
              alt="Volunteer with us"
          /></a>
        </div>
      </div>
    </div>
    <p>
      <small>
        Please review our
        <span class="link" (click)="routeTo(termsConditions)"
          >Terms & Conditions</span
        >
        and
        <span class="link" (click)="routeTo(refund)">Refund Policy</span></small
      >
    </p>
  </div>
</div>
